@import '../../index.scss';

.mainContent {
  padding-top: 72px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mainSection {
  margin-top: 140px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logoText {
  font-size: 64px;
  font-weight: 600;
  margin-bottom: 34px;
}

.descText {
  margin-bottom: 34px;
  font-weight: 400;
  font-size: 34px;
}

.btnModal {
  padding: 20px;
}

.mapSection {
  padding-top: 120px;
  margin-top: -40px;
  margin-bottom: 110px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sectionTitle {
  font-weight: 600;
  margin-bottom: 56px;
  font-size: 34px;
}

.infoSection {
  display: flex;
  justify-content: space-around;
  width: 950px;
  margin-bottom: 80px;
}

.infoWrapper {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.addressString {
  color: $secondary;
  width: 220px;
  font-size: 24px;
  display: block;
}

.infoTitle {
  color: $primary;
  font-size: 28px;
  font-weight: 600;
  // margin-bottom: 15px;
}

.hoursWrappper {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.hourItem {
  color: $secondary;
  font-size: 24px;
}

.mapImg {
  max-width: 950px;
  height: auto;
}

.emailAddress {
  display: flex;
  align-items: center;
  gap: 10px;
}

.emailAddressString {
  color: $secondary;
  font-size: 24px;
}

@media screen and (max-width: 1000px) {
  .mapImg {
    width: 100vw;
  }

  .infoSection {
    width: 95vw;
  }
  .hourItem {
    font-size: 16px;
  }
  .addressString {
    font-size: 16px;
    width: 168px;
  }
  .emailAddressString {
    font-size: 16px;
  }
}

@media screen and (max-width: 650px) {
  .mapSection {
    margin-bottom: 50px;
  }
  .sectionTitle {
    font-size: 24px;
  }
  .infoSection {
    flex-direction: column;
    align-items: center;
    gap: 50px;
  }
  .infoWrapper {
    align-items: center;
    gap: 15px;
  }
  .addressString {
    text-align: center;
  }

  .emailAddress {
    flex-direction: column;
  }

  .infoTitle {
    font-size: 20px;
  }
}

@media screen and (max-width: 800px) {
  .logoText {
    font-size: 34px;
  }
  .descText {
    font-size: 22px;
  }
}

@media screen and (max-width: 600px) {
  .mainSection {
    margin-top: 70px;
  }
}
